In [1]:
import pandas as pd
from tabulate import tabulate

In [2]:
# RÃ©cuperation du fichier dans Google Colab
filename = './drive/MyDrive/base_ratp.csv'

# Lecture du fichier CVS
df_raw = pd.read_csv(filename, delimiter=';')

In [3]:
df_raw.dtypes

station_id              int64
station_name           object
station_desc           object
station_lat           float64
station_lon           float64
stop_sequence           int64
route_id                int64
service_id              int64
direction_id            int64
service_short_name     object
long_name_first        object
long_name_last         object
dtype: object

In [4]:
df_raw.describe()

,station_id,station_lat,station_lon,stop_sequence,route_id,service_id,direction_id
count,852.000000,852.000000,852.000000,852.000000,8.520000e+02,8.520000e+02,852.000000
mean,2610.938967,48.860802,2.344647,14.276995,1.333310e+06,2.237161e+06,0.500000
std,340.505080,0.024882,0.041470,9.042180,1.955140e+05,1.730149e+05,0.500294
min,2004.000000,48.768769,2.228314,1.000000,6.561030e+05,1.544644e+06,0.000000
25%,2320.000000,48.844652,2.317565,7.000000,1.197630e+06,2.280297e+06,0.000000
50%,2616.000000,48.862667,2.346851,13.000000,1.197659e+06,2.280325e+06,0.500000
75%,2900.000000,48.876729,2.369946,21.000000,1.495357e+06,2.280372e+06,1.000000
max,3208.000000,48.946111,2.464319,38.000000,1.577988e+06,2.280413e+06,1.000000

In [6]:
df_line_id = df_raw[['service_short_name', 'service_id']].drop_duplicates()
df_line_id.reset_index(drop=True, inplace=True)

print('Table de corespondance du service_short_name vers service_id :')
print(tabulate(df_line_id, headers='keys', tablefmt='psql'))

Table de corespondance du service_short_name vers service_id :
+----+----------------------+--------------+
|    | service_short_name   |   service_id |
|----+----------------------+--------------|
|  0 | 1                    |      2280236 |
|  1 | 2                    |      1544644 |
|  2 | 3                    |      2280265 |
|  3 | 4                    |      2280284 |
|  4 | 5                    |      2280297 |
|  5 | 6                    |      2280310 |
|  6 | 7                    |      2280325 |
|  7 | 8                    |      2280344 |
|  8 | 9                    |      2280360 |
|  9 | 10                   |      2280372 |
| 10 | 11                   |      2280382 |
| 11 | 12                   |      2280396 |
| 12 | 13                   |      2280400 |
| 13 | 14                   |      2280413 |
| 14 | 3B                   |      2280278 |
| 15 | 7B                   |      2280337 |
+----+----------------------+--------------+